*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
}

ul {
  padding-left: 2rem;
  list-style-type: disc;
}

.header {
    background-color: aqua;
}
